@use '../../../../styles/colors' as colors;

.card{
  color: colors.$text-color;
  background-color: colors.$background-color-elevated;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid colors.$outline-color;
  text-align: left;
}

.card__date{
  color: colors.$text-muted-color;
}

.card__description{
  margin-top: 8px;
  color: colors.$text-color;
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  color: colors.$text-muted-color;
}

.card__title{
  font-size: 18px;
  text-align: center;
}
