@use '../../../styles/colors' as colors;
.project {
  position: relative;
  max-width: 24rem;
  border: 2px solid colors.$outline-color;
  border-radius: 8px;
  padding: 16px;
}
.project__description{
  margin: 12px 0;
  color: colors.$text-muted-color;
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
}
.project__title{
  max-height: min-content;
  display: flex;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
.project__repo{
  display: flex;
  color: inherit;
}
.project__image{
  margin: 16px 0;
  width: 100%;
  height: auto;
  max-height: 150px;
}



// TODO: Delete this style
.link-external-button{
  margin-left: 8px;
  vertical-align: middle;
  width: 16px;
  fill: colors.$text-color;
}