.experience{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  gap: 16px;
}

.experience__cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}