//media for laptop
@media screen and (min-width: 768px) {
  .hamburger-button,
  .close-button {
    display: none;
  }
  .nav-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    visibility: visible;
    height: 100%;
    width: 70%;
    right: 0;
  }
  .nav-buttons > a:not(:last-child) {
    border-bottom: 0px solid rgba(255, 255, 255, 0.218);
  }
  .nav-open,
  .nav-close {
    animation: none;
    -prefix-animation: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  // hero
  .hero {
    align-items: flex-start;
    padding-left: 10rem;
  }
  section {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
  #about {
    padding: 5rem 10rem !important;
  }
  //experience
  .buttons {
    height: auto;
  }
  .card-container {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #experience {
    display: flex;
    flex-direction: column;
  }

  .experience-items {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 2rem;
  }
  .card-container.close {
    display: flex;
  }
  .contact-buttons {
    flex-direction: row;
    gap: 2rem;
  }
  .bot-container {
    .bot {
      width: 25rem;
      height: 26rem;
      border: none;
    }
  }
}
