@use 'colors' as colors;

.about {
  margin: 0 auto;
  padding: 2rem 1rem 2rem 1rem;
  color: colors.$text-color;
  text-align: center;
}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story__intro {
  font-size: medium;
  color: colors.$text-muted-color;
  max-width: 80%;
  line-height: 1.6;
}

.story__metrics {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.stack__title {
  margin: 22px 0 10px;
  font-weight: 700
}

.chips {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
  padding: 1rem;
  margin: 0;
  list-style: none
}

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: 5.5rem;
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  color: var(--text);
  font-weight: 600;
  text-decoration: none;
  transition: transform .15s ease, box-shadow .2s ease;
  text-wrap: nowrap;
}

.stack{
  display: grid;
  // in mobile view, show one column, in larger viewports, auto-fit columns with min width of 120px
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}