@use 'colors' as colors;

.navbar {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  backdrop-filter: blur(50px);
  z-index: 10;
  height: 4.5rem;
  width: 100vw;
  width: 100dvw;
  display: grid;
  grid-template-areas: 
  'logo toggle'
  'items items';
  grid-template-rows: 4.5rem auto;
  overflow-y: hidden;
}

.navbar-open {
  height: 100vh;
  height: 100dvh;
}

.navbar__items {
  list-style: none;
  width: 100%;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
  top: 4.5em;
  justify-content: center;
  align-items: center;
  grid-area: items;
}
.navbar__items-open {
  height: auto;
  visibility: visible;
}
.navbar__items-close {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.navbar__item{
  width: 100%;

}

.navbar__link{
  display: flex;
  text-decoration: none;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: colors.$text-color;
  font-size: x-large;
  padding: 1rem 0;
}

.navbar__toggle{
  fill: colors.$text-color;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  background: none;
  border: 0;
  margin: 0;
  font: inherit;
  line-height: 1;
  appearance: none;
  -webkit-appearance: none;
  grid-area: toggle;
  align-self: center;
  justify-self: flex-end;
}